/**
 * main.scss
 * Compiles all SCSS partials
 * Author: Shaun Dillon
 */
/**
 * _colours.scss
 * Site colour variables
 * Author: Shaun Dillon
 */
/**
 * _sizes.scss
 * Global dimensions, managed for consistency
 * Author: Shaun Dillon
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * _base.scss
 * Basic setup styles
 * Author: Shaun Dillon
 */
* {
  box-sizing: border-box; }

body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  color: #333333;
  line-height: 1.2; }

ol {
  list-style: decimal inside; }

/**
 * _buttons.scss]
 * Author: Shaun Dillon
 */
.button {
  cursor: pointer;
  display: block;
  text-align: center; }
  .button--full-size {
    width: 100%;
    height: 100%;
    padding: 15px; }

/**
 * _tab-widget.scss
 * Author: Shaun Dillon
 */
.tab-widget__nav {
  border: 1px solid #EEEEEE;
  font-family: Georgia, "Times new roman", serif;
  font-size: 18px; }
  @media all and (min-width: 350px) {
    .tab-widget__nav {
      display: table;
      table-layout: fixed;
      width: 100%; } }
  @media all and (min-width: 350px) {
    .tab-widget__nav-item {
      display: table-cell;
      vertical-align: middle;
      border-right: 1px solid #EEEEEE; } }
  .tab-widget__nav-item:last-child {
    border: none; }
  .tab-widget__nav-button:not(.tab-widget__nav-button--active) {
    background: #f2f2f2; }
    .tab-widget__nav-button:not(.tab-widget__nav-button--active):hover {
      background: #e6e6e6; }
  .tab-widget__nav-button--active {
    background: #FFFFFF; }

.tab-widget__content {
  background: #FFFFFF;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE; }

.tab-widget__note {
  color: #333333;
  margin: 15px; }

.tab-widget__list-item {
  padding: 15px; }
  .tab-widget__list-item:not(:last-child) {
    border-bottom: 1px solid #EEEEEE; }
  .tab-widget__list-item-link {
    color: #005689;
    text-decoration: underline; }
    .tab-widget__list-item-link:hover {
      text-decoration: none; }

.zone-border {
  border-color: #0061A6;
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 2px; }

.zone-border-medium {
  border-top-width: 3px; }

.zone-border-large {
  border-top-width: 10px;
  padding-top: 5px; }

.zone-color {
  color: #0061A6; }

.zone-background,
a.zone-background {
  background-color: #0061A6;
  color: #fff; }

.zone-news .zone-border {
  border-color: #D61D00; }

.zone-sport .zone-border {
  border-color: green; }

.zone-comment .zone-border,
.zone-commentisfree .zone-border {
  border-color: #0061A6; }

.zone-culture .zone-border {
  border-color: #D1008B; }

.zone-business .zone-border {
  border-color: #3246AB; }

.zone-money .zone-border {
  border-color: #8F1AB6; }

.zone-life-and-style .zone-border {
  border-color: #AD532F; }

.zone-lifeandstyle .zone-border {
  border-color: #AD532F; }

.zone-travel .zone-border {
  border-color: #066EC9; }

.zone-environment .zone-border {
  border-color: #4A7801; }

/*
	Show the current zone background color.
*/
.zone-news .zone-color {
  color: #D61D00; }

.zone-sport .zone-color {
  color: #008000; }

.zone-comment .zone-color,
.zone-commentisfree .zone-color {
  color: #0061A6; }

.zone-culture .zone-color {
  color: #D1008B; }

.zone-business .zone-color {
  color: #3246AB; }

.zone-money .zone-color {
  color: #8F1AB6; }

.zone-life-and-style .zone-color {
  color: #AD532F; }

.zone-lifeandstyle .zone-color {
  color: #AD532F; }

.zone-travel .zone-color {
  color: #066EC9; }

.zone-environment .zone-color {
  color: #4A7801; }

/*
	Show the current zone background color.
*/
.zone-news .zone-background,
.zone-news .zone-background-hover:hover,
.zone-news .zone-background-hover:focus,
.zone-news .zone-background-hover:active {
  background-color: #D61D00; }

.zone-sport .zone-background,
.zone-sport .zone-background-hover:hover,
.zone-sport .zone-background-hover:focus,
.zone-sport .zone-background-hover:active {
  background-color: #008000; }

.zone-comment .zone-background,
.zone-comment .zone-background-hover:hover,
.zone-comment .zone-background-hover:focus,
.zone-comment .zone-background-hover:active {
  background-color: #0061A6; }

.zone-commentisfree .zone-background,
.zone-commentisfree .zone-background-hover:hover,
.zone-commentisfree .zone-background-hover:focus,
.zone-commentisfree .zone-background-hover:active {
  background-color: #0061A6; }

.zone-culture .zone-background,
.zone-culture .zone-background-hover:hover,
.zone-culture .zone-background-hover:focus,
.zone-culture .zone-background-hover:active {
  background-color: #D1008B; }

.zone-business .zone-background,
.zone-business .zone-background-hover:hover,
.zone-business .zone-background-hover:focus,
.zone-business .zone-background-hover:active {
  background-color: #3246AB; }

.zone-money .zone-background,
.zone-money .zone-background-hover:hover,
.zone-money .zone-background-hover:focus,
.zone-money .zone-background-hover:active {
  background-color: #8F1AB6; }

.zone-life-and-style .zone-background,
.zone-life-and-style .zone-background-hover:hover,
.zone-life-and-style .zone-background-hover:focus,
.zone-life-and-style .zone-background-hover:active {
  background-color: #AD532F; }

.zone-lifeandstyle .zone-background,
.zone-lifeandstyle .zone-background-hover:hover,
.zone-lifeandstyle .zone-background-hover:focus,
.zone-lifeandstyle .zone-background-hover:active {
  background-color: #AD532F; }

.zone-travel .zone-background,
.zone-travel .zone-background-hover:hover,
.zone-travel .zone-background-hover:focus,
.zone-travel .zone-background-hover:active {
  background-color: #066EC9; }

.zone-environment .zone-background,
.zone-environment .zone-background-hover:hover,
.zone-environment .zone-background-hover:focus,
.zone-environment .zone-background-hover:active {
  background-color: #4A7801; }
