/**
 * _tab-widget.scss
 * Author: Shaun Dillon
 */

.tab-widget {

    &__nav {
        border: 1px solid $boxBorder;
        font-family: Georgia, "Times new roman", serif;
        font-size: $textSizeLarge;

        @media all and (min-width: 350px) {
            display: table;
            table-layout: fixed;
            width: 100%;
        }

        &-item {

            @media all and (min-width: 350px) {
                display: table-cell;
                vertical-align: middle;
                border-right: 1px solid $boxBorder;
            }

            &:last-child {
                border: none;
            }
        }

        &-button {

            &:not(.tab-widget__nav-button--active) {
                background: darken($boxBackground, 5);

                &:hover {
                    background: darken($boxBackground, 10);
                }
            }

            &--active {
                background: $boxBackground;
            }
        }
    }

    &__content {
        background: $boxBackground;
        border: {
            left: 1px solid $boxBorder;
            right: 1px solid $boxBorder;
            bottom: 1px solid $boxBorder;
        }
    }

    &__note {
        color: $black;
        margin: $baseline;
    }

    &__list-item {
        padding: $baseline;

        &:not(:last-child) {
            border-bottom: 1px solid $boxBorder;
        }

        &-link {
            color: $linkColor;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}
