/**
 * _colours.scss
 * Site colour variables
 * Author: Shaun Dillon
 */

// Base colours
$white:         #FFFFFF;
$grey:          #EEEEEE;
$darkBlue:      #005689;
$black:         #333333;


// Content colours
$textColor:     $black;
$linkColor:     $darkBlue;
$boxBackground: $white;
$boxBorder:     $grey;
