/**
 * _sizes.scss
 * Global dimensions, managed for consistency
 * Author: Shaun Dillon
 */

// Spacing
$baseline: 15px;
$doubleBaseline: 30px;

// Font scale (Pared back for simplicity)
$textSizeRegular: 14px;
$textSizeLarge:   18px;
